// variables with color definitions for the website

$clr-almost-white: #e6e5ea;
$clr-dark-grey: #24232c;
$clr-grey: #817d92;
$clr-very-dark-grey: #18171f;

$clr-neon-green: #a4ffaf;
$clr-red: #f64a4a;
$clr-orange: #fb7c58;
$clr-yellow: #f8cd65;
