.strength {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}

.strength__bar {
  --clr-strength: var(--clr-almost-white);
  --clr-to-weak: var(--clr-red);
  --clr-weak: var(--clr-orange);
  --clr-medium: var(--clr-yellow);
  --clr-strong: var(--clr-neon-green);
  border: 1px solid var(--clr-strength);
  width: 10px;
  height: 28px;

  &[data-type='too weak!'] {
    &:is(.strength__bar__1) {
      background-color: var(--clr-to-weak);
      border: 1px solid var(---clr-to-weak);
    }
  }

  &[data-type='weak'] {
    &:is(.strength__bar__1, .strength__bar__2) {
      background-color: var(--clr-weak);
      border: 1px solid var(---clr-weak);
    }
  }

  &[data-type='medium'] {
    &:is(.strength__bar__1, .strength__bar__2, .strength__bar__3) {
      background-color: var(--clr-medium);
      border: 1px solid var(---clr-medium);
    }
  }

  &[data-type='strong'] {
    &:is(
        .strength__bar__1,
        .strength__bar__2,
        .strength__bar__3,
        .strength__bar__4
      ) {
      background-color: var(--clr-strong);
      border: 1px solid var(---clr-strong);
    }
  }
}
